

.page{
    text-align: center;
    color: red;
    font-family: 'Rock Salt', cursive;

}
.head{
    text-align: center;
    font-family: 'Rock Salt', cursive;
color: red;
    font-size: 25px;
}
.nickel{
width: 90px;
height: 90px;
}

#shownumber1{
    text-align: center;
    font-family: 'Rock Salt', cursive;
color: red;
    font-size: 25px;
}

#shownumber2{
    text-align: center;
    font-family: 'Rock Salt', cursive;
color: red;
    font-size: 25px;
}
.quarter{
 width: 110px;
height: 110px;   
}

.total{
    text-align: center;
    font-family: 'Rock Salt', cursive;
color: red;
    font-size: 25px;
}

#bomb{
    width: 100px;
    height: 100px;
    position: relative;
    top: 22px;
    left: 190px;
}

.total1{
    text-align: center;
    font-family: 'Rock Salt', cursive;
color: red;
    font-size: 25px;
}